<?php

$config = [
    'settings' => [
        'displayErrorDetails' => true,
    ],
    'database' => [
        'host'      => 'localhost',
        'database'  => 'docoblast',
        'username'  => 'root',
        'password'  => '',
        'logging'   => false

    ],
    'app_url' => 'http://example.com',
    'cipher_key' => 'FADd9S66'
];

return $config;